.black-friday-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #000;
  }
  
  .black-friday-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .black-friday-image img{
    width: 400px;
    height: 450px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .product-image {
    width: 80%;
    border-radius: 10px;
  }
  
  .black-friday-content {
    flex: 1;
    text-align: left;
  }
  
  .sale-title {
    font-size: 3rem;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  }
  
  .discount-text {
    font-size: 2rem;
    color: #ffdd00;
    margin: 20px 0;
  }
  
  .sale-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .shop-now-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .shop-now-button:hover {
    background-color: #ffdd00;
  }
  #black-friday-containeree{
    width: 1000px;
    height: 1000px;
  }